body {
  overflow-x: hidden; /*[overfow-x]- o eixo X é o acesso horizontal - removo scroll eixo x */
}

.navbar .nav-link { /*Ajusto devinições meno navegação*/
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important; /* [!importat]- faz com que tenha efeito sobre outros estilos*/
                                 /* apresenta uma pequena borda a esqueda da quia ativia do menus*/
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid; /*incluo pequena borta-separo meno de texto index*/
}

.carousel-item { /*Adiciono uma altura ao Carrocel de imagens*/
  height: 450px;
}

.carousel-image-1 { /*adicionou 1° imagem do carrocel de imagens*/
  background: url('../img/image1.jpg');
  background-size: cover;/*[cover]-Defino o tamanho do plano de funco para cobrir*/
}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: cover;
}

#home-heading { /*config imd fundo - 1º Cabeçalho: Get Started, apos icons secction*/
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-attachment: fixed; /*[attachment]-propriedade de anexo de fundo como fixo*/
  background-repeat: no-repeat; /*[no-repeat]-para poder dar o efeito de fundo de parallax*/
  text-align: center;
  color: #fff;
}

.dark-overlay { /*config. sobreposição Escura - IMG 1° Cabeçalho*/
  position: absolute; /*cubro da posição 0 absolute até 100% de altura e largura*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);/*Cor padrão alpha escura para sobreposição img*/
}

#video-play { /*Config. Area do video e imagem fundo*/
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg'); /*posiciono a imagem de fundo*/
  background-attachment: fixed; /*[attachment]-propriedade de anexo de fundo como fixo*/
  background-repeat: no-repeat; /*[no-repeat]-para poder dar o efeito de fundo de parallax*/
  background-position: 0 -300px; /* mover de 300 px positivo para 300 negativo*/
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff; /*Ajusto cor do icone bottão play receber branco*/
}

/*Page - Header da pagina About US*/
#page-header {
  height: 200px;
  background: url('../img/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;/*mantenho img fixa ao plano de fundo*/
  color: #fff;/*cor do texto branca*/
  border-bottom: 1px #eee solid;
  padding-top: 50px; /*Posição pixels altura do texto ao top*/
}

.about-img { /*Imagem do header - padding About US*/
  margin-top: -50px; /*Posiciono recuo ao top, envadindo um pequena da sessão do header */
}

/*Page. Services id: Faq - ajustando colapse, perguntas e respostas*/
#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

/*Page. blog ajustando rodape cor fundo e texto*/
#main-footer {
  background: #000;
  color: #fff;
}
